body{
    font-family: 'Kiwi Maru', serif;
    color: rgb(235, 195, 52);
    width: 100%;
    height: 100%;
    
}
.bookslistdiv {
    margin-top: 9%;
    padding-bottom: 5%;
    padding-top: 4vh;;
    min-height: 100%;
    min-width: 100%;
}
.mainbookdiv {
    width: 100vw;
    height: 100vh;
}
.bookbody {
    background-color: black;
    height: 100%;
    width: 100%;
}
.maindiv {
    background-image: url("img/Updates/ILYWYS\ home\ page\ Banner.jpg");
    width: 100%;
    height: 100vh; 
    background-repeat:no-repeat;
    background-size: 100% 100%;   
}
.booksmaindiv > .imagediv {
    padding-bottom: 2%;

}
.longtitle {
    padding-bottom: 6%;
}
.imgdiv {
    background-image: url("img/Updates/books\ page\ banner.jpg");
    width: 100vw;
    height: 95vh; 
    background-repeat: no-repeat;
    background-size: 100% 50%;
    z-index: 2;
    padding-bottom: 1.5px;
    

}
.charmaindiv {
height: 70vh;
width: 100vw;
}
.charimgdiv {
    background-image: url("img/Kissy\ Pg3_noText_flipped.jpg");
    width: 120vw;
    height: 80vh; 
    background-repeat: no-repeat;
    background-size: 100% 50%;
}

.charcard {
    width: 100%;
    height: 50%;
}
.rounded-circle, .charimg {
    width: 275px;
    height: 275px;
    border-radius: 50%;
}

.actimgdiv {
    background-image: url("img/Updates/activities\ page\ banner.jpg");
    width: 100vw;
    height: 60vh; 
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    

}
.actimg {
 margin-top: 5%;
}
.acttest {
    padding-top: 10vh;
}
.activitymaindiv {
    background-color: rgb(200, 237, 64);
   
}
.actcarddiv {
    margin-top: 8vh;
    padding-bottom: 5%;
  
}
.actcarddiv > .card-deck {
    padding-top: 2vh;
}
.actimga {
    width: 100%;
    height: 100%;
    margin-top: -12%;
    outline: none;
}
.actimga:hover {
    color: rgb(58, 159, 214)
    text-decoration: none;
}
a:hover {
        outline: none;
        text-decoration: none;
    }

.acth5 {
padding-top: 30%;
}
.imgdiv > h1 {
padding-top: 45vh;
}
.charimgdiv > h1 {
    padding-top: 45vh;
    color: white;
}
.actimgdiv > h1 {
    padding-top: 60vh;
    color: rgb(58, 159, 214)
    
    }
.charname {
        color:white;
        margin-top: -1vh;
    }
.charnamelast {
        color:white;
        margin-top: -2vh;
    }
.charnamemiddle {
        color:white;
        margin-top: -7.5vh;
    }
.booksimg {
    max-width:100%;
    max-height:100%;
}

.booksmaindiv {
    background-color: black;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-bottom: 50px;
}
.navbar-nav {
    background-color: rgb(58, 159, 214);
    z-index: 2;

}
.name, .navbar-text {
    padding-top: 20%;
    margin-right: 23%;
    color: rgb(235, 195, 52);
}
.footer-text {
    padding-top: 1%;
    margin-right: 1%;
    color: rgb(235, 195, 52);
}
.navbar-toggler {
    background-color: rgb(235, 195, 52);
}
a {
    color: rgb(235, 195, 52);  
    
}
.carousel {
    width: 500px;
    height: 500px;
    margin-top: -400px;
    margin-bottom: 150px;
}
.carousel-caption {
    position: relative;
    left: 0;
    top: 0;
    height: 80px;
}
.carousel-caption > h4 {
    color: rgb(235, 195, 52);
    margin-bottom: -700px;
}
.carousel-caption > h4 > a {
    color: rgb(235, 195, 52);
    font-size: 15px;
}
.carousel-caption > h4 > a:hover {
    color: rgb(58, 159, 214);
    font-size: 20px;
}
.cardbox {
    padding-top: 0px;
    margin-top: -64vh;
    height: 20%;
    width: 90%;
    overflow-x: scroll;
    overflow-y:auto;
    white-space: nowrap;
    background-color: black;
}
.bookscardbox{
    min-height: 20%;
    min-width: 90%;
}
.carousel-indicators {
   margin-bottom: -75px;
}

.card {
    white-space: pre-wrap;
    height: 50vh;
    width: auto;
    background-color: black; 
    color: rgb(235, 195, 52);

}
.act-card-deck{
padding-bottom: 5%;

}
.actcard {
    white-space: pre-wrap;
    height: 100vh;
}

.card-body {
    height: 1vh;
    margin-top:-20%;
}
.card img {
    height: 80%;
    padding-bottom: 0%;
}
.topnav img {
height: 100%;
width: 10%;
}
.topnav, .navbar, header
{
    background-color: rgb(58, 159, 214);
    height: 12vh;    
}
.topnav a, .nan-link, .nav-item {
    padding-top: 2%;
    padding-bottom: 2%;
}
.hfoot{
    margin-top: -.5%;

}
footer {
    background-color: rgb(58, 159, 214);
    color: rgb(235, 195, 52);
    position: fixed;
    bottom: 0;
    height: 30px;
    width: 100%;   
}
.fa {
    padding-top:1%;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }
  /* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
  }
  
  /* Set a specific color for each brand */
  
  /* Facebook */
  .fa-facebook {
    background: rgb(58, 159, 214);
    color: #3B5998;
  }
.navimg {
    width: 1%;
}
.popup_div:hover:after{
    opacity: 1;
    right: 0;
    
    background-color:blue;
    width:50px;
    height:50px;
    background:url("http://i.imgur.com/zFWft.png") no-repeat scroll center 0 transparent;
    
}
.double {
    padding-top:60px;
    padding-bottom:20px;

}
.buybooks {
    margin-bottom: -10%;
    color: rgb(173, 57, 150);
}
.charsecdiv {
    margin-top:-8%;
}

/* About Page divs */

.megtextcontainer {
    background-color: rgb(58, 159, 214, .7);
    height: 50vh;
    width: 40vw;
    margin-top: 5vh;
   
}
.megdiv{
    background-image: url("img/Updates/meg\ deboe_bio\ banner.jpg");
    border: black solid 2px;
    width: 100vw;
    height: 70vh; 
    background-size: 100% 100%;
    background-repeat: no-repeat; 
  
}
.megimg {
    margin-left: 10%;
    margin-top: 6vh;
    width: 30vw;
    height: 50vh;
}
.megtext {
    margin-right: 10%;
    margin-top: 4vh;
    width: 40vw;
    color: black;
    font-style: normal;
    font-weight: bold;
    opacity: 1; !important
}

.katediv{
    background-image: url("img/Updates/kate\ neel_bio\ banner.jpg");
    border: black solid 2px;
    width: 100vw;
    height: 70vh; 
    background-size: 100% 100%;
    background-repeat: no-repeat; 

}
.katetextcontainer {
    background-color: rgb(58, 159, 214, .7);
    height: 40vh;
    width: 40vw;
    margin-top: 5vh;
   
}

.kateimg {
    margin-left: 10%;
    margin-top: 6vh;
    width: 30vw;
    height: 50vh;
}
.katetext {
    margin-right: 10%;
    margin-top: 4vh;
    width: 40vw;
    color: black;
    font-style: normal;
    font-weight: bold;
    opacity: 1; !important
}
.kevindiv{
    background-image: url("img/Updates/kevin\ alvir_bio\ banner.jpg");
    border: black solid 2px;
    width: 100vw;
    height: 70vh; 
    background-size: 100% 100%;
    background-repeat: no-repeat; 

}
.kevintextcontainer {
    background-color: rgb(58, 159, 214, .7);
    height: 50vh;
    width: 40vw;
    height: 40vh;
    margin-top: 7vh;
   
}
@media only screen and (max-width: 576px) {
    .carousel-caption {
        h5 {
            font-size: 1rem;
        }
    }
}

.kevinimg {
    margin-left: 10%;
    margin-top: 6vh;
    width: 30vw;
    height: 50vh;
}
.kevintext {
    margin-right: 10%;
    margin-top: 4vh;
    width: 40vw;
    color: black;
    font-style: normal;
    font-weight: bold;
    opacity: 1; !important
}

.patdiv{
    background-image: url("img/Updates/patrick\ etienne_bio\ banner.jpg");
    border: black solid 2px;
    width: 100vw;
    height: 70vh; 
    background-size: 100% 100%;
    background-repeat: no-repeat; 

}
.pattextcontainer {
    background-color: rgb(58, 159, 214, .5);
    height: 55vh;
    width: 40vw;
    margin-top: 5vh;
   
}
.secscroll {
    padding-bottom: 1%;
}
.bookimg {
    max-width: 300px;
    max-height: 300px;
}

.patimg {
    margin-left: 10%;
    margin-top: 4vh;
    width: 30vw;
    height: 50vh;
}
.pattext {
    margin-right: 10%;
    margin-top: 4vh;
    width: 40vw;
    color: black;
    font-style: normal;
    font-weight: bold;
    opacity: 1; !important
}
.megandiv{
    background-image: url("img/Updates/megan\ nolton_bio\ banner.jpg");
    border: black solid 2px;
    width: 100vw;
    height: 70vh; 
    background-size: 100% 100%;
    background-repeat: no-repeat;  

}
.megantextcontainer {
    background-color: rgb(58, 159, 214, .5);
    height: 50vh;
    width: 40vw;
    height: 40vh;
    margin-top: 5vh;
   
}

.meganimg {
    margin-left: 10%;
    margin-top: 7vh;
    width: 30vw;
    height: 50vh;
}
.megantext {
    margin-right: 10%;
    margin-top: 4vh;
    width: 40vw;
    color: black;
    font-style: normal;
    font-weight: bold;
    opacity: 1; !important
}

/*scrollbars*/



/* Range Slider Start*/

 


/* The Modal (background) */
{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100% /* Full width */
    height: 100% /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content{
    background-color: rgb(250, 248, 200);
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80vw; /* Could be more or less, depending on screen size */
    height: 50%;
  }
  
  /* The Close Button */
  {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  .modalname {
     color: black;
      width: 100%;
  }
  .charname:hover {
    cursor: pointer;
    text-decoration: underline;
    color: yellow;
 }
.abutton {
    width: 100%;
    height: 100%;
    margin-top: -24%;
}
  .lucyimg {
    width: 40%;
    height: 50%;
  }
  .closetest:hover,
  .closetest:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  .topnav, nav {
    background-color: rgb(58, 159, 214);
    height: 12vh;    
}
.nametest { 
font-size: 5vh;
padding-left: 10%;
}

  
/*Range SLider End*/
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (and change the direction - make the "cart" column go on top) */
  @media (max-width: 800px) {

  }

@media (max-width: 1200px) {

}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) { ... }

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) { ... }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) { ... }
